p {
  font-family: Lato;
}
.inputcontainer {
  display: table-cell;
  vertical-align: middle;
  width: 300px;
  height: 150px;
  background: #0070a9;
}
::ng-deep.mat-form-field-flex {
  background-color: white !important;
}
.stoprippleffect::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  display: none;
 }
 ::ng-deep.mat-form-field-suffix {
  position: absolute !important;
  margin-left: 70%!important;
  margin-top: 5% !important;
 }
 ::ng-deep .material-icons{
  font-size: 17px !important;
 }
 .hideunderline ::ng-deep .mat-form-field-underline {
  display: none;
}