<div class="inputcontainer hideunderline lbladjust formfeildadjust">
<span style="margin-left: 30px;color:white">Age</span>
<div style="margin-left: 30px;">
<mat-form-field appearance="fill">
  <mat-label>Please select</mat-label>
    <mat-select>
      <mat-option value="option1">Option 1</mat-option>
      <mat-option value="option2" >Option 2 (disabled)</mat-option>
      <mat-option value="option3">Option 3</mat-option>
    </mat-select>
    <i matSuffix class="material-icons" (click)="$event.stopPropagation()">clear</i>
</mat-form-field>
</div>
</div>