p {
  font-family: Lato;
}
.inputcontainer {
  display: table-cell;
  vertical-align: middle;
  width: 300px;
  height: 150px;
  background: #0070a9;
}
::ng-deep.mat-form-field-flex {
  background-color: white !important;
}
.stoprippleffect::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  display: none;
}
::ng-deep.mat-form-field-suffix {
  position: absolute !important;
  margin-left: 70% !important;
  margin-top: 5% !important;
}
::ng-deep .material-icons {
  font-size: 17px !important;
}
.hideunderline ::ng-deep .mat-form-field-underline {
  display: none;
}
::ng-deep.mat-option:hover {
  background: #ecfaff !important;
}
::ng-deep.mat-select-panel {
  margin-top: 43px;
}
.stoprippleffect::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  /*background-color: green !important;*/
  display: none;
}
::ng-deep .mat-select-arrow {
  display: none;
}
::ng-deep.material-icons {
  padding-top: 10px;
  position: absolute;
}
::ng-deep .mat-select-panel .mat-option {
  height: 2em !important;
}
.clear-icon {
  margin-left: 18px;
}
.down-arrow {
  margin-left: 35px;
}

/*checkbox*/
.my-checkbox {
  display: flex;
  align-items: center;
}

.my-checkbox__input {
  position: relative;
  flex-shrink: 0;
  width: 1.6rem;
  height: 1.6rem;
  appearance: none;
  border: none;
  cursor: pointer;
  border-radius: 0;
  background-color: transparent;
}

.my-checkbox__input:checked:before {
  background: #c6d9d9;
}

.my-checkbox__input:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 0.0625rem solid #c6d9d9;
  background-color: transparent;
  transition: background-color 0.2s;
}

.my-checkbox__input:checked:after {
  width: 0.75rem;
  height: 0.375rem;
  transition: height 0.08s ease-out, width 0.08s ease-out 0.1s;
  border-color: #536060;
}

.my-checkbox__input:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  transform: rotate(-45deg);
  transform-origin: 1.125rem -0.0625rem;
  border-bottom: 0.125rem solid transparent;
  border-left: 0.125rem solid transparent;
}

.my-checkbox__label {
  margin-left: 0.5rem;
}
