p {
  font-family: Lato;
}
.inputcontainer {
  display: table-cell;
  vertical-align: middle;
  width: 300px;
  height: 150px;
  background: #0070a9;
}
::ng-deep.mat-form-field-flex {
  background-color: white !important;
}
.stoprippleffect::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  /*background-color: green !important;*/
  display: none;
 }
 ::ng-deep .mat-select-arrow {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid;
  margin: 0 4px;
}